.experiencia{
    position: relative;
    top: 10px;
    left: 20px;
}

.voluntario{
    position: relative;
    top: 10px;
    left: 30px;
}
  
  .extra{
    position: relative;
    top: 10px;
    left: 30px;
}
  
  .projetos{
    position: relative;
    top: 10px;
    left: 30px;
}