body {
  margin: 0;
  width: 100%;
}
.curriculo{
  margin-top: 150px;;
}

.limite{
  overflow: hidden;
}
.footer{
  position: relative;
  top: 10px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  margin: 0 auto;
}