.formacao{ 
    left: 20px;
}
.Graduacao{
    position: relative;
    top: 10px;
    left: 20px;
    text-decoration: none; 
}
  
  .Tecnico{
    position: relative;
    top: 10px;
    left: -10px;
    text-decoration: none; 
}